<%- include ("./templates/_header") %>



<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
        <h2>Pagina de login</h2>
      <form action="/newPost" method="POST">
        <div class="form-group">
        </div>
        <div class="form-group">
        </div>
        <div class="form-group">
        </div>
      </form>
    </div>
  </div>
</main>


<%- include ("./templates/_footer") %>